*.c text
*.cpp text
*.h text
*.hpp text
*.java text
*.properties text
*.py text
*.php text
*.js text
*.css text
*.ahk text
*.bat text
*.txt text
*.md text
*.htm text
*.html text
*.conf text
*.cfg text
*.ini text
*.lng text
*.csv text