#include<windows.h>
#include "global.h"

"accel" ACCELERATORS
BEGIN
//VK_F7, IDC_VOLSM, VIRTKEY
//VK_F8, IDC_VOLSP, VIRTKEY
//VK_F5, IDC_VOLMM, VIRTKEY
//VK_F6, IDC_VOLMP, VIRTKEY
32, IDC_COPYCUR, CONTROL, VIRTKEY
VK_RIGHT, IDC_NEXT_VIEW, ALT, VIRTKEY
VK_LEFT, IDC_PREV_VIEW, ALT, VIRTKEY
"1", IDC_SETVIEWN+0, ALT, VIRTKEY
"2", IDC_SETVIEWN+1, ALT, VIRTKEY
"3", IDC_SETVIEWN+2, ALT, VIRTKEY
"4", IDC_SETVIEWN+3, ALT, VIRTKEY
"5", IDC_SETVIEWN+4, ALT, VIRTKEY
"6", IDC_SETVIEWN+5, ALT, VIRTKEY
"7", IDC_SETVIEWN+6, ALT, VIRTKEY
"8", IDC_SETVIEWN+7, ALT, VIRTKEY
"9", IDC_SETVIEWN+8, ALT, VIRTKEY
"0", IDC_SETVIEWN+9, ALT, VIRTKEY
//"C", IDC_FOCUS_CHAT, ALT, VIRTKEY
//VK_DELETE, IDC_FASTDISCONNECT, CONTROL, SHIFT, VIRTKEY
//VK_F5, IDC_SPEECHONOFF, CONTROL, VIRTKEY
//VK_F8, IDC_CHANGESOUNDCARD, SHIFT, VIRTKEY
//VK_F7, IDC_STOPSOUNDS, SHIFT, VIRTKEY
//VK_F5, IDC_STOPSTREAMS, SHIFT, VIRTKEY
//VK_F12, IDC_SAVE, VIRTKEY
//VK_F12, IDC_SAVE2, SHIFT, VIRTKEY
//VK_F12, IDC_COPYVIEW, CONTROL, VIRTKEY
END

IDD_CHOICE DIALOG DISCARDABLE 10, 10, 400, 140
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 375, 15
LISTBOX 1002, 10, 30, 375, 85, WS_TABSTOP | WS_BORDER | LBS_NOTIFY
DEFPUSHBUTTON L"", IDOK, 250, 120, 60, 15
PUSHBUTTON L"", IDCANCEL, 325, 120, 60, 15
END

"menu" MENU
BEGIN
POPUP "&Mud"
BEGIN
MENUITEM "Sa&ve view...", IDC_SAVE
MENUITEM "About mudist", IDC_ABOUT
MENUITEM "E&xit", IDC_EXIT
END
END
